body {
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  color: white;
  text-shadow: 2px 2px 2px black;

}

p {
  font-size: 40px;
  font-weight: 200;
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  margin: 15px;
}

#cards {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card {
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
  transition: flex 0.4s;
  display: flex;
  flex-direction: row-reverse;
  background-color: #0000003a;
}

.card.open {
  flex: 5;
  background-blend-mode: darken;
}

.card > *:last-child {transform: translateX(-200%)}
.card.open > *:last-child {transform: translateX(0)}

.card p {
  transition: 0.3s;
}

.card.open h2 {
  padding-left: 15px;
}


.var1 {
  background-image:url(images/trifid-1.png);
  background-position: center;
  background-size: 250%;
}
.var2 {
  background-image:url(images/nebula-2.png);
  background-position: center;
  background-size: 250%;
}
.var3 {
  background-image:url(images/pestana-3.png);
  background-position: center;
  background-size: 250%;
}
.var4 {
  background-image:url(images/galaxy-4.png);
  background-position: center;
  background-size: 250%;
}
.var5 {
  background-image:url(images/m42-5.png);
  background-position: center;
  background-size: 250%;
}
.var6 {
  background-image:url(images/jupiter-6.png);
  background-position: center;
  background-size: 250%;
}
.var7 {
  background-image:url(images/earth-7.png);
  background-position: center;
  background-size: 250%;
}